<head>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <title>O Radu</title>
  <link rel="icon" type="image/x-icon" href="/static/greeting_icon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    body,
    span {
      font-family: "Raleway", sans-serif;
      margin: 0;
    }

    body {
      background-color: var(--normal-dim-color);
    }

    footer {
      text-align: center;
      color: white;
      background-color: var(--normal-dim-color);
    }

    h2 {
      text-decoration: underline;
      color: #474e5d;
    }

    html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 8px;
    }

    .about-section {
      padding: 50px;
      text-align: center;
      background-color: var(--normal-dim-color);
      color: white;
    }

    .container {
      padding: 0 16px;
    }

    .container::after,
    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    .title {
      color: grey;
    }

    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }

    /* Column container */
    .row {
      display: -ms-flexbox;
      /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap;
      /* IE10 */
      flex-wrap: wrap;
      border: 2px solid var(--normal-h4-color);
    }

    /* Main column */
    .main {
      -ms-flex: 70%;
      /* IE10 */
      flex: 70%;
      background-color: white;
      padding: 20px;
    }

    img {
      width: 90%;
      height: 60%;
      object-fit: contain;
    }

    button {
      border: none;
      font-size: medium;
      font-weight: bold !important;
      background-color: white !important;
      color: var(--normal-dim-color) !important;
    }

    #input-mockup {
      background-color: var(--normal-dim-color);
    }


    a>button {
      font-size: 1.2rem;
      background-color: white !important;
    }

    p {
      font-size: 1.2rem;

    }

    .main>p {
      border: 1px solid var(--normal-h4-color);
      color: var(--normal-dim-color);
      padding: 10px;
      font-weight: 400;
    }

    .about-section>a {
      border-radius: 6px;
    }

    .about-section>p {

      text-align: justify;
    }
  </style>
</head>

<body>

  <div class="about-section">
    <div class="input-group mb-3" id="div-mockup">
      <input id="input-mockup" type="text" class="form-control" placeholder="">
      <button id="plus-btn" class="btn btn-outline-secondary" type="button"><i class="fa fa-plus"></i></button>
      <button id="minus-btn" class="btn btn-outline-secondary" type="button"><i class="fa fa-minus"></i></button>
      <button id="dyx-btn" class="btn btn-outline-secondary" type="button"><span>DYX</span></button>
      <a href="{{ url_for('.starting_page') }}"><button class="btn btn-outline-secondary" type="button"><i
            class="fa fa-arrow-left" aria-hidden="true"></i><span> Pretraži
            korpus</span></button></a>
    </div>
    <h1>O radu</h1>
    <p>Pozdravi su ritualizirani sociološki i kulturno utemeljeni verbalno-neverbalni dijaloški oblici afektivnih odnosa
      u komunikacijskoj situaciji privremenoga susreta dviju ili više osoba. Ostvaruju se invokacijskim i eksvokacijskim
      pozdravnim obrascima sastavljenim prema strukturi pozdravnih obrazaca koji obuhvaćaju invokaciju i eksvokaciju kao
      početni i završni dio pozdravnoga rituala. Invokacija i eksvokacija jesu simetrični okviri pozdravnih obrazaca
      koji se provode u dvjema etapama: 1. invokacijskim pozdravom i odzdravom i 2. eksvokacijskim pozdravom i
      odzdravom.</p>

    <p>Suvremeni su komunikacijski zahtjevi promijenili narav pozdravnih obrazaca jer je komunikacija na svim razinama
      postala opuštenija te je uočljiva pomaknuta granice između formalnih i neformalnih komunikacijskih zahtjeva. U
      istraživanju je invokacijskih i eksvokacijskih pozdravnih obrazaca u hrvatskome jeziku u skladu s recentnim
      komunikacijskim zahtjevima sudjelovalo trideset i troje studenata na kolegiju Hrvatski jezik u digitalnome dobu
      diplomskoga studija kroatistike Filozofskoga fakulteta Sveučilišta u Zagrebu nositeljice i izvoditeljice prof. dr.
      sc. Bernardine Petrović, dvoje asistenata iz Instituta za hrvatski jezik i jezkoslovlje te doktoranada
      Filozofskoga fakulteta Sveučilišta u Zagrebu, Maja Matijević i Lobel
      Filipić s doktorskoga studija Hrvatske filologije u interkulturnome kontekstu te student diplomskoga studija
      Tomislav Vidović s Fakulteta elektrotehnike i računarstva Sveučilišta u Zagrebu. Studenti su svakotjedno
      prikupljali građu i unosili ju u sustav Lexonomy prema zadanim parametrima. Za prikupljanje je i obradbu građe
      odabran sustav Lexonomy zbog otvorenoga kôda koji obrađivačima građe dopušta uređivanje korpusa bez financijskih
      obveza, a korisnicima je dostupan za korištenje i preuzimanje. Upravo se na toj razini Lexonomy pokazao izvrsnim
      rješenjem. U njemu se lako snalaze obrađivači građe jer se sustav sastoji od domišljenih i obrađivaču
      prilagodljivih parametara. Nedostatak je sustava Lexonomy nemogućnost relevantne dostupnosti krajnjemu korisniku,
      što će se u prikazu pozdravnih obrazaca pokazati ozbiljnim problemom.</p>

    <p>Prema prijedlogu strukture pozdravnih obrazaca u hrvatskome jeziku prof. dr. sc. Bernardine Petrović kolege Maja
      Matijević i Lobel Filipić razvili su strukturu pozdravnih obrazaca u sustavu Lexonomy</p>

    <p>Za kontrolu su studentskih unosa u Lexonomy bili zaduženi kolege Matijević i Filipić, dok je kolega Vidović bio
      usmjeren rješavanju vidljivosti rezultata. Vidljivost se rezultata naime pokazala velikim izazovom jer Lexonomy
      nema odgovarajuće rješenje za prikaz rezultata. Stoga su svi suradnici na projektu osmislili sučelje koje su prof.
      dr. sc. Željka Car i njezin student Tomislav
      Vidović izradili i u kojemu je korpus pretraživ po relevantnim znanstvenoistraživačkim
      parametrima.</p>
    <br>
    <h1 style="text-align:center">Upute za korištenje:</h1>
  </div>

  <div class="row">
    <div class="main">
      <h2>Pretraživanje</h2>
      <!-- <h5>Title description, Dec 7, 2017</h5> -->
      <div class="fakeimg"><img src="{{url_for('static', filename='data/search_example.png')}}"></div>
      <br>
      <p>U prazno polje unosi se dio pozdrava ili cijeli pozdrav. Pretraživanje ne ovisi
        o
        velikom ili malom slovu. Ako nije odabrano drugačije pretražuju se pozdravi i odzdravi unutar invokacije i
        eksvokacije. Pretražuje se pritiskom na tipke Enter na tipkovnici ili odabirom simbola za
        pretraživanje pored polja za unos.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="main">
      <h2>Atributi pretraživanja</h2>
      <div class="fakeimg"><img src="{{url_for('static', filename='data/attribute_example.png')}}"></div>
      <br>
      <p>Kako bi se iskoristio potpuni potencijal pretraživanja, koriste se dodatne opcije. Za označavanje atributa po
        kojima se pretražuje odabire se gumb s nazivom atributa, zatim se unese vrijednost
        atributa po kojoj se pretražuje, te se ponovno pritisne simbol tražilice za pretraživanje ili tipka Enter na
        tipkovnici.
        Opisi svakoga atributa pojavljuju se nakon prijelaza mišem preko polja za unos ili gumba koji označava atribut.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="main">
      <h2>Napredno pretraživanje</h2>
      <div class="fakeimg"><img src="{{url_for('static', filename='data/advanced-example.png')}}"></div>
      <br>
      <p>Pritiskom na opciju "Koristi napredno pretraživanje" otvara se novi prikaz s više mogućih odabirom atributa za
        pretraživanje.
        Ponovnim klikom na isti gumb prikaz se vraća na jednostavno pretraživanje.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="main">
      <h2>Prikazi pozdrava</h2>
      <div class="fakeimg"><img src="{{url_for('static', filename='data/card_example.png')}}"></div>
      <br>
      <p>Nakon pretraživanja korisnik odabire karticu s traženim pozdravom/odzdravom i klikom na nju otvara se njezin
        detaljniji prikaz. Ponovnim klikom na istu karticu ona se sažme na sažeti prikaz. Na kartici je označeno
        "INVOKACIJA", "EKSVOKACIJA" ili "INVOKACIJA | EKSVOKACIJA" ovisno o tome po čemu se podario uneseni tekst.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="main">
      <h2>Prilagodbe</h2>
      <br>
      <p>Opcije za prilagodbu stranice nalaze se iznad polja za pretraživanje, (opcija za povećanje fonta označena
        simbolom "+", opcija za smanjenje fonta označene simbolom "-", te opcija "DYX" za prikaz
        prilagođen osobama s disleksijom.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="main">
      <h2>Izvoz podataka u PDF</h2>
      <br>
      <p>Klikom na gumb "Izvezi u PDF" svi rezultati pretraživanja s odabranim atributima koji su prikazani na zaslonu
        pohranjuju se u zasebnu PDF datoteku na računalu korisnika.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="main">
      <h2>Atributi situacija</h2>
      <br>
      <p><span>@sudionik1</span> ‒ prvi sudionik (osoba koja pokreće komunikaciju, ne nužno osoba koja potiče prestanak
        komunikacije)<br>
        <span>@sudionik2</span> ‒ drugi sudionik<br>
        <span>@situacijski_kontekst</span> ‒ situacija u kojoj se komunikacija odvija (npr. razgovor u trgovini, susret
        prijatelja
        pred fakultetom, razgovor s profesoricom na hodniku…)<br>
        <span>@prostor</span> ‒ lokacija na kojoj se komunikacija odvija (npr. Zagreb: Filozofski fakultet, Split: Riva,
        Rijeka:
        Korzo, Osijek: u blizini Tvrđe, Magić Mala: ispred vatrogasnoga doma…)<br>
        <span>@vrijeme</span> ‒ vrijeme odvijanja komunikacije (npr. prije podne, poslije podne, večer…)<br>
        <span>@opis_ipv</span> ‒ atribut za opisivanje verbalnoga invokacijskog pozdrava<br>
        <span>@opis_ipv_ostalo</span> ‒ atribut za opisivanje verbalnoga invokacijskog pozdrava (upisivanje teksta,
        unosimo AKO
        željeni opis nije među ponuđenim opisima u @opis_ipv)<br>
        <span>@emocija_ipv</span> ‒ emocija koju sudionik komunikacije osjeća tijekom pozdrava<br>
        <span>@opis_ipn</span> ‒ atribut za opisivanje neverbalnoga invokacijskog pozdrava<br>
        <span>@opis_ipn_ostalo</span> ‒ atribut za opisivanje neverbalnoga invokacijskog pozdrava (upisivanje teksta,
        unosimo AKO
        željeni opis nije među ponuđenim opisima u @opis_ipn)<br>
        <span>@emocija_ipn</span> ‒ emocija koju sudionik komunikacije osjeća tijekom pozdrava<br>
        <span>@opis_iov</span> ‒ atribut za opisivanje verbalnoga invokacijskog odzdrava<br>
        <span>@opis_iov_ostalo</span> ‒ atribut za opisivanje verbalnoga invokacijskog odzdrava (upisivanje teksta,
        unosimo AKO
        željeni opis nije među ponuđenim opisima u @opis_iov)<br>
        <span>@emocija_iov</span> ‒ emocija koju sudionik komunikacije osjeća tijekom odzdrava<br>
        <span>@opis_ion</span> ‒ atribut za opisivanje neverbalnoga invokacijskog odzdrava<br>
        <span>@opis_ion_ostalo</span> ‒ atribut za opisivanje neverbalnoga invokacijskog odzdrava (upisivanje teksta,
        unosimo AKO
        željeni opis nije među ponuđenim opisima u @opis_ion)<br>
        <span>@emocija_ion</span> ‒ emocija koju sudionik komunikacije osjeća tijekom odzdrava<br>
        <span>@opis_epv</span> ‒ atribut za opisivanje verbalnoga eksvokacijskog pozdrava<br>
        <span>@opis_epv_ostalo</span> ‒ atribut za opisivanje verbalnoga eksvokacijskog pozdrava (upisivanje teksta,
        unosimo AKO
        željeni opis nije među ponuđenim opisima u @opis_epv)<br>
        <span>@emocija_epv</span> ‒ emocija koju sudionik komunikacije osjeća tijekom pozdrava<br>
        <span>@opis_epn</span> ‒ atribut za opisivanje neverbalnoga eksvokacijskog pozdrava<br>
        <span>@opis_epn_ostalo</span> ‒ atribut za opisivanje neverbalnoga eksvokacijskog pozdrava (upisivanje teksta,
        unosimo AKO
        željeni opis nije među ponuđenim opisima u @opis_epn)<br>
        <span>@emocija_epn</span> ‒ emocija koju sudionik komunikacije osjeća tijekom pozdrava<br>
        <span>@opis_eov</span> ‒ atribut za opisivanje verbalnoga eksvokacijskog odzdrava<br>
        <span>@opis_eov_ostalo</span> ‒ atribut za opisivanje verbalnoga eksvokacijskog odzdrava (upisivanje teksta,
        unosimo AKO
        željeni opis nije među ponuđenim opisima u @opis_eov)<br>
        <span>@emocija_eov</span> ‒ emocija koju sudionik komunikacije osjeća tijekom odzdrava<br>
        <span>@opis_eon</span> ‒ atribut za opisivanje neverbalnoga eksvokacijskog odzdrava<br>
        <span>@opis_eon_ostalo</span> ‒ atribut za opisivanje neverbalnoga eksvokacijskog odzdrava (upisivanje teksta,
        unosimo AKO
        željeni opis nije među ponuđenim opisima u @opis_eon)<br>
        <span>@emocija_eon</span> ‒ emocija koju sudionik komunikacije osjeća tijekom pozdrava<br>
      </p>
    </div>
  </div>

  <footer>
    <p>Sveučilište u Zagrebu</p>
    <p>@PozdraviMe</p>
    <p>Autori: prof. dr. sc. Bernardina Petrović, prof. dr. sc. Željka Car, Maja Matijević mag.
      philol. croat. et inf., Lobel Filipić mag. educ.
      philol. croat. et inf. i Tomislav Vidović univ. bacc. ing. comp.</p>
  </footer>
</body>

<script>

  let DYX_ACTIVE = false
  function dyxTransform() {
    $("body, h1, h2").css("font-family", "dislexia");
    $("h2").css("font-family", "dislexia");
    $("h1").css("font-family", "dislexia");
    $("body, .about-section, .main > p").css("color", "var(--dyx-color)");
    $(".card").css("background-color", "var(--dyx-back-color)");
    $("button").css("background-color", "var(--dyx-back-color)");
    $("button").css("color", "var(--dyx-color)");
    $("h2").css("color", "var(--dyx-dim-color)");
    $("small").css("color", "var(--dyx-dim-color)");
    $("body, .about-section, .main").css("background-color", "var(--dyx-body-color)")
    $("input").css("background-color", "var(--dyx-body-color)")
    $("input").css("border-color", "var(--dyx-color)")
  }

  function revertDyx() {
    $("body, h1, h2").css("font-family", "Raleway");
    $("h1, h2").css("font-weight", "bold");
    $("body").css("color", "var(--normal-dim-color)");
    $(".about-section").css("color", "white");
    $(".card").css("background-color", "var(--normal-back-color)");
    $("button").css("background-color", "var(--normal-back-color)");
    $("button").css("color", "var(--normal-dim-color)");
    $("h2").css("color", "var(--normal-dim-color)");
    $("small").css("color", "var(--normal-dim-color)");
    $("body, .about-section").css("background-color", "var(--normal-dim-color)")
    $("input").css("background-color", "var(--normal-dim-color)")
    $(".main, .main>p").css("background-color", "white");
    $(".main > p").css("color", "var(--normal-dim-color)")
    $("input").css("border-color", "var(--normal-dim-color)");
  }

  $("#dyx-btn").on('click', () => {
    if (DYX_ACTIVE) {
      revertDyx()
      $("#dyx-btn").text("DYX")
      DYX_ACTIVE = false
    }
    else {
      dyxTransform()
      $("#dyx-btn").text("Izvorni prikaz")
      DYX_ACTIVE = true
    }
  })

  // Enlarges the font style of letters
  $("#plus-btn").on('click', () => {
    var current_size = $(".main>p").css("font-size");
    $(".main>p").css("font-size", parseInt(current_size.split("px")[0]) + 1 + "px");
    current_size = $(".about-section > p").css("font-size");
    $(".about-section>p").css("font-size", parseInt(current_size.split("px")[0]) + 1 + "px");
    current_size = $("button").css("font-size");
    $("button").css("font-size", parseInt(current_size.split("px")[0]) + 1 + "px");
    current_size = $("h1").css("font-size");
    $("h1").css("font-size", parseInt(current_size.split("px")[0]) + 1 + "px");
    current_size = $("h2").css("font-size");
    $("h2").css("font-size", parseInt(current_size.split("px")[0]) + 1 + "px");

    current_size = $("footer > p").css("font-size");
    $("footer>p").css("font-size", parseInt(current_size.split("px")[0]) + 1 + "px");
  })
  $("#minus-btn").on('click', () => {
    var current_size = $(".main>p").css("font-size");
    $(".main>p").css("font-size", parseInt(current_size.split("px")[0]) - 1 + "px");
    current_size = $(".about-section > p").css("font-size");
    $(".about-section>p").css("font-size", parseInt(current_size.split("px")[0]) - 1 + "px");
    current_size = $("button").css("font-size");
    $("button").css("font-size", parseInt(current_size.split("px")[0]) - 1 + "px");
    current_size = $("h1").css("font-size");
    $("h1").css("font-size", parseInt(current_size.split("px")[0]) - 1 + "px");
    current_size = $("h2").css("font-size");
    $("h2").css("font-size", parseInt(current_size.split("px")[0]) - 1 + "px");

    current_size = $("footer > p").css("font-size");
    $("footer>p").css("font-size", parseInt(current_size.split("px")[0]) - 1 + "px");
  })


</script>

</html>