@font-face{
    font-family: dislexia;
    src: url("/static/fonts/OpenDyslexic-Regular.otf")
}
@font-face{
    font-family: dislexia;
    font-weight: bold;
    src: url("/static/fonts/OpenDyslexic-Bold.otf")
}

:root{
    --dyx-back-color: #EDD1B0;
    --dyx-color: #213A82;
    --dyx-dim-color: #4B6DD2;
    --dyx-h4-color: #3A506B;
    --dyx-body-color: #F8EBDE;
    --normal-body-color: #fff;
    --normal-dim-color: #6c757d;
    --normal-back-color: #f8f9fa;
    --normal-h4-color: #7C8FA2;
}

body {font-family: "Raleway", sans-serif}
#dyx-btn{
    font-family: dislexia;
}

small{
    color: var(--normal-dim-color);
}

.div-input{
    width: 80%;
}

.div-input > .form-outline{
    display: inline-block;
}

#main-search-div{
    width: 95%;
    margin-top: 10px;
    text-align: center;
    padding-left: 5%;
}

#div-mockup{
    margin-top: 10px !important;
    width: 50%;
    text-align: center;
    margin: auto;
}
#input-mockup{
    width: 0px;
    margin-left: 20%;
    size: 0px;
    flex: none;
    border: none;
    cursor: default;
}

#main-search-div > .btn:focus{
    box-shadow: none;
}

p > span{
    font-weight:bold;
}

.card{
    background-color: var(--normal-back-color);
    transition: transform .1s; /* Animation */
}
.card:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.notbold{
    font-weight:normal !important
}
#dictionary-content > .row{
    margin-left: 4px;
    margin-right: 4px;
}

#advanced{
    display: none;
}

#divider{
    display: none;
}
#advanced .input-group{
    width: 25% !important
}

#basic-advanced .input-group{
    width: 25% !important
}

#inv-exv{
    display: none;
}
.large{
    display: none;
}

.large > h5, p{
    margin-left: 10px;
}

.large > h4{
    color: #7C8FA2;
}

.large > h5{
    margin-top: 12px;
}

.dropdown{
    width: 100%;
}
#dropdownType{
    width: 100%;
}
.dropdown-menu{
    width:100%
}

.card-body{
    cursor: pointer;
}

a > button{
  border-top-left-radius: 0px !important; 
  border-bottom-left-radius: 0px !important;
}
button, a{    
    transition: transform .5s ease;
    z-index: 1;
    /* background-color: var(--normal-back-color) ; */
}
button:hover, a:hover {
    z-index: 100;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}